<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hunger Apps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <a href="#main-content" tabindex="0" class="skip-to-content">Skip to content</a>
  <header>
    <navbar-component></navbar-component>
  </header>
  <main id="main-content" tabindex="0">
    <hero-component></hero-component>
    <list-restaurant-component class="list-restaurant"></list-restaurant-component>
    <promotion-component></promotion-component>
  </main>
</body>
</html>
