<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hunger Apps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/x-icon" href="/images/logo/restaurant.png">
  <link rel="apple-touch-icon" href="/images/logo/restaurant.png">
  <link rel="shortcut icon" type="image/x-icon" href="/images/logo/restaurant.png">
  <meta name="theme-color" content="#317EFB">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

  <meta property="og:site_name" content="Hunger Apps" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="/">
  <meta property="og:title" content="Hunger Apps">
  <meta property="og:description" content="Application for search the best restaurant in indonesia">
  <meta property="og:image" content="./images/restaurant.png">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="./images/restaurant.png">
  <meta property="twitter:title" content="Hunger Apps">
  <meta property="twitter:description" content="Application for search the best restaurant in indonesia">
  <meta property="twitter:image" content="">

  <meta name="keywords" content="restaurant indonesia, indonesian restaurant, bali restaurant">
  <meta name="robots" content="index, follow">
  <meta name="language" content="Indonesia">
  <meta name="author" content="Mochamad Rizky Cahya Diputra">
  <meta name="description" content="Application for search the best restaurant in indonesia">

</head>
<body>
  <button class="skip-to-content">Skip to content</button>
  <header>
    <navbar-component></navbar-component>
  </header>
  <main id="main-content"></main>
  <footer>
    <footer-component></footer-component>
  </footer>
</body>
</html>
