@import '../../../../styles/variables';

.like {
	font-size: 18px;
	position: fixed;
	bottom: 16px;
	right: 16px;
	background-color: $font-color-yellow;
	color: $grey;
	border-radius: 12px;
	border: 0;
	width: 55px;
	height: 55px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
