@import '../../../../styles/variables';

.list-food-news {
  width: 100%;
  display: block;
  margin: auto;
  padding: 20px;
  h2 {
    color: $font-color-yellow;
    font-size: 30px;
    text-align: center;
    margin: 50px 0;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
