.list-food-news {
	@media screen and (min-width: 500px) {
		padding: 60px;
	}

	@media screen and (min-width: 630px) {
		padding: 0 100px;
	}

	@media screen and (min-width: 740px) {
		padding: 0 20px;
		justify-content: start;
		&__container {
			gap: 25px;
			grid-template-columns: 1fr 1fr;
		}
	}

	@media screen and (min-width: 1000px) {
		padding: 0 40px;
		&__container {
			margin: auto;
			max-width: 900px;
		}
	}

	@media screen and (min-width: 1250px) {
		&__container {
			max-width: 1200px;
			gap: 40px;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
